body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: rgb(10,10,100);
    font-family: sans-serif;
    font-size: x-large;
    filter: sepia;
}

#buttons {
  display: flex;
  justify-content: space-around;
}
#buttons div, #buttons a{
  background-color: rgba(100,100,100,.4);
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  /* width: 20vw; */
  font-family: sans-serif;
  text-align: center;
  padding: 2vh;
}

#buttons div:hover, #buttons a:hover{
  background-color: rgba(100,100,100,.8);
}

#parameters{
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  line-height: 1em;
  z-index:;
}

#cardcontainer {
  /* align-self: center; */
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-height: 30vh; */
  /* height: 100%; */
  /* transform: translateX(50%); */
  /* left: 0px; */
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.light, .dark {
  border: 1px solid white;
  border-radius: 15px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}


.light:after, .dark:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.light {
  background-color: rgba(194, 192, 187, 0.5);
}

.light:hover {
  background-color: rgba(230,130,130,1);
}

.dark {
    background-color: rgba(156, 163, 159, 0.5);;
}
.dark:hover {
  background-color: rgba(200,120,120,1);
}


.value, .score {
  position: absolute;
  left: 50%;
  top: 50%;
  /* background-color: rgba(255,200,0,.6); */
  transform: translateX(-50%) translateY(-50%);
  font-size: xx-large;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.value {
  animation:fadein 3s ease-out forwards;
  /* background-color: rgba(255,200,0,.4); */
}

@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1}
}

.score {
  animation:scoremove 3s ease-out forwards;
  pointer-events: none;
}

@keyframes scoremove{
  from {top:50%; opacity: 1;}
  to {top:-50px; opacity: 0;}
}


#footer {
    bottom: 0px;
    position: absolute;
    padding: 0px;
    margin: 20px;
}

content {
    width: 100%;
}

#content {
    /*display: flex;
    justify-content: center;*/
    position: relative;
}


#description {
    margin: 20px;
}

h1 {
    text-align: center;
    line-height: 0.1em;
}


.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s linear;
}


#messagebox {
    z-index: 100;
    position: absolute;
    top: 40px; /*TODO: proper center*/
    left: 50vw;
    margin: auto;
    background: rgba(114, 178, 205, 0.8);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
}

#messagecontainer {
  position: relative;
}

#closebutton {
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
  position: absolute;
  font-size: xx-large;
  top: -30px;
  right: -30px;
  text-align: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,.4);
}

#closebutton:hover {
  font-weight: bolder;
  background-color: rgba(255,255,255,.8);
}

embed, #svgoverlay {
  position: absolute;
  width: 100vw;
  max-height: 70vh;
  left: 0;
  top: 0;
}

#svgoverlay {
  z-index: 100; /*is on top of embed*/
  width: 100vw;
  height: 100vh;
  pointer-events: none; /*click through*/
}

path:hover {
      fill: #ff0000 !important;
      fill-opacity: .2 !important;
}
