/*************************************************/
/* This forces apps to be displayed fullscreen    */
/*************************************************/


/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../../common/quicksand/quicksand-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('../../common/quicksand/quicksand-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../common/quicksand/quicksand-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../common/quicksand/quicksand-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../common/quicksand/quicksand-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../common/quicksand/quicksand-v9-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../../common/quicksand/quicksand-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('../../common/quicksand/quicksand-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../common/quicksand/quicksand-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../common/quicksand/quicksand-v9-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../../common/quicksand/quicksand-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../common/quicksand/quicksand-v9-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

body {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: rgb(10, 0, 30);
  }
  body.mode-app {
    background-color: rgb(100, 100, 100);
}

.appContainer {
  top: 0 !important;
  height: 100vh !important;
}

.appContainer iframe {
    transform: none !important;
}

body.mode-app .appPane {
    top: 0 !important;
    max-height: 100vh !important;
    opacity: 1;
}

.menu-main-button.initializing:before,
.menu-main-button.running:before {
    width: 100%;
    left: 0;
    opacity: 1;
    transition: width 0.5s, left 0.5s, opacity 0.5s;
}

.logo {
    top: 7.5vh;
    pointer-events: none;
}

.logo .logo-text {
    font-family: Quicksand, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.menu-main-button .name {
  text-transform: none;
}


body.mode-app .util-button-close {
  position: absolute !important;
  bottom: 1vh !important;
  left: 1vh !important;
  z-index: 2000 !important;
}
body.mode-app .util-bar {
    z-index: 2000 !important;
}

.titlePane {
  display: none;
}


body > div > div.util-bar {
  pointer-events: none;
}

body > div > div.util-bar > a.util-button {
  pointer-events: all;
}
