//out: index.html, pretty: true

doctype html
html(lang="en")
  head
    title= "Predict the temperature given the cloudiness and being inside!"
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src="d3.js")
    script(src="weather.js", type="module")
      
  body
    svg
      g#activations
      g#edges
      g#nodes
      g#node-parameters
      g#edge-parameters
    div
      h3 Training Data:
      div.trainingpreview
