//out: playground.html, pretty: true

doctype html
html(lang="en")
  head
    title= "A playground for a simple Network"
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src="d3.js")
    script(src="playground.js", type="module")
  body
    svg
      g#edges
      g#nodes
      g#node-parameters
      g#edge-parameters
      g#input-parameters
      g#outputs
